Django==1.10.6
Faker==0.7.10
PyJWT==1.4.2
appdirs==1.4.3
datapunt-authorization-django==0.2.7
datapunt-authorization-levels==0.1.0
django-jenkins==0.110.0
elasticsearch==2.4.0
elasticsearch-dsl==5.2.0
factory-boy==2.8.1
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
python-rapidjson==0.0.11
pytz==2016.10
requests==2.13.0
six==1.10.0
urllib3==1.20
