datapunt-authorization-django
datapunt-authorization-levels
Django
django-cors-headers
django-filter
django-jenkins==0.18.1
djangorestframework
djangorestframework-gis
elasticsearch_dsl
factory-boy
graypy
psycopg2-binary
requests
