appdirs==1.4.3
certifi==2017.7.27.1
chardet==3.0.4
datapunt-authorization-django==0.2.11
datapunt-authorization-levels==0.1.0
Django==1.11.4
django-jenkins==0.110.0
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
factory-boy==2.9.2
Faker==0.7.18
idna==2.5
packaging==16.8
pip-review==0.5.3
psycopg2==2.7.3
PyJWT==1.5.2
pyparsing==2.2.0
python-dateutil==2.6.1
python-rapidjson==0.0.11
pytz==2017.2
requests==2.18.3
six==1.10.0
urllib3==1.22
