asn1crypto==1.3.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==3.3.2
datapunt-authorization-django==1.0.0
datapunt-authorization-levels==0.1.3
Django==2.2.24
django-cors-headers==3.0.2
django-filter==2.0.0
django-jenkins==0.110.0
djangorestframework==3.11.2
djangorestframework-gis==0.15
elasticsearch==6.4.0
elasticsearch-dsl==6.4.0
factory-boy==2.12.0
Faker==3.0.1
graypy==2.1.0
idna==2.8
ipaddress==1.0.23
psycopg2-binary==2.8.4
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.25.0
sentry-sdk==0.14.0
six==1.14.0
text-unidecode==1.3
urllib3==1.26.5
